<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <p>
        あなたにとっての生涯大切にしてることを<br>
        教えていただきました
      </p>
      <p>
        これは今までも守り続けてきたことでもあり<br>
        これからも守り続け大事にしていくこと
      </p>
      <p>
        あなたの全てとも言えます
      </p>
      <p>
        迷ってしまった時<br>
        困った時<br>
        困難に立ち向かう時や
      </p>
      <p>
        何かを選ぶときの一つの指針となります
      </p>
      <div class="danger-title-frame">
        <span>書き直すということはできません</span>
        <p>
          間違いないことを<br>
          改めて確認してください
        </p>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <p class="alert alert-warning"><%= alert %></p>
      <h5 class="smart-frame">
        <u>
          <%= session[:mission_statement] %>
        </u>
      </h5>
      <div class="cross-frame font-weight-bold">
        <div>
          <%= session[:mission_detail] %>
        </div>
      </div>
      <div>
        <%= link_to '人生の指針をやり直す', new_mission_path, "data-confirm" =>"本当にもう一度考え直す？" %>
      </div>
      <div>
        <%= form_with model: @user, url: user_path, method: :patch %>
          <%= f.submit '次に進む',"data-confirm" =>"修正も削除もできませんが、内容に間違いありませんか？" %>
        <% end %>
      </div>
    </div>

  </div>
</div>