<h1>Users#dash_board</h1>
<p>Find me in app/views/users/dash_board.html.erb</p>

<div>
  <%= @user.planner_name %>
</div>
<div>
  <%= @user.secret_word %>
</div>
<div>
  <%= @keyword.keyword_1 %>
</div>
<div>
  <%= @keyword.keyword_2 %>
</div>
<div>
  <%= @keyword.keyword_3 %>
</div>
<div>
  <%= @keyword.keyword_4 %>
</div>
<div>
  <%= @keyword.keyword_5 %>
</div>
<div>
  <%= @keyword.keyword_6 %>
</div>
<div>
  <%= @keyword.keyword_7 %>
</div>
<div>
  <%= @keyword.keyword_8 %>
</div>
<div>
  <%= @keyword.keyword_9 %>
</div>
<div>
  <%= @keyword.keyword_10 %>
</div>
<div>
  <% @ideals.each do |ideal| %>
    <div>
      <%= ideal.ideal_status %>
    </div>
    <div>
      <%= ideal.text_1 %>
    </div>
    <div>
      <%= ideal.text_2 %>
    </div>
    <div>
      <%= ideal.text_3 %>
    </div>
  <% end %>
</div>