<h1>Users#dash_board</h1>
<p>Find me in app/views/users/dash_board.html.erb</p>

<div>
  <%= @user.planner_name %>
</div>
<div>
  <%= @user.secret_word %>
</div>
  <% @keywords.each do |keyword| %>
<ol>
<li>
  <%= keyword.keyword_1 %>
</li>
<li>
  <%= keyword.keyword_2 %>
</li>
<li>
  <%= keyword.keyword_3 %>
</li>
<li>
  <%= keyword.keyword_4 %>
</li>
<li>
  <%= keyword.keyword_5 %>
</li>
<li>
  <%= keyword.keyword_6 %>
</li>
<li>
  <%= keyword.keyword_7 %>
</li>
<li>
  <%= keyword.keyword_8 %>
</li>
<li>
  <%= keyword.keyword_9 %>
</li>
<li>
  <%= keyword.keyword_10 %>
</li>
</ol>
<% end %>
<div>
  <% @ideals.each do |ideal| %>
    <div>
      <%= ideal.ideal_status_i18n %>
    </div>
    <div>
      <%= ideal.text_1 %>
    </div>
    <div>
      <%= ideal.text_2 %>
    </div>
    <div>
      <%= ideal.text_3 %>
    </div>
  <% end %>
</div>
<div>
  <% @missions.each do |mission| %>
    <div>
      <span>
        <%= mission.mission_statement %>
      </span>
      <span>
        <%= mission.mission_detail %>
      </span>
    </div>
  <% end %>
</div>
<div>
  <% @schedules.each do |schedule| %>
    <div>
      <span>
        <%= schedule.schedule_status_i18n %><br>
        <%= schedule.title %>
      </span>
      <span>
        <%= schedule.body %>
      </span>
    </div>
    <div>
      <%= schedule.start_time %>
    </div>
    <div>
      <%= schedule.end_time %>
    </div>
  <% end %>
</div>
<div>
  <% @plans.each do |plan| %>
    <div>
      <span>
        <%= plan.schedule_id %><br>
        <%= plan.task %>
      </span>
      <span>
        <%= plan.priority_status_i18n %>
      </span>
    </div>
    <span>
      <%= plan.progress_status_i18n %>
    </span>
    <span>
      <%= plan.availability %>
    </span>
  <% end %>
</div>
<div>
  <% @missions.each do |mission| %>
    <div>
      <span>
        <%= mission.user_id %><br>
        <%= mission.mission_statement %>
      </span>
      <span>
        <%= mission.mission_detail %>
      </span>
    </div>
  <% end %>
</div>
