<h1>あなたの理想のパートナーとの関係を教えて下さい</h1>
<p>
  あなたが望んでいるパートナーとの関係性はなんですか<br>
  あなたが望んでいるパートナーとの関わり方はなんですか<br>
  どうしてパートナーが必要と思いますか
</p>
<p>
  あなたの将来を考えた時に<br>
  一緒にいる人がきっとその人です
</p>
<div>
  <%= form_with model: ideal do |f| %>
    <%= f.hidden_field :ideal_section, :value => 7 %>
    <div><%= f.text_area :text_1 %></div>
    <div><%= f.text_area :text_2 %></div>
    <div><%= f.text_area :text_3 %></div>
    <div><%= f.submit '次に進む' %></div>
  <% end %>
</div>