<div class="left-page">
  <div>
    <!--文言を入れる-->
  </div>
  <div>
    <%= user_commit.each do |commit| %>
      <div class="card">
        <div class="card-header">
          <%= radio_button :commit_id, commit.id %>
          <%= commit.commitment %>
        </div>
        <div class="card-body">
          <%= commit.purpose %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="right-page">
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, required: true %> 
        <%# form_with で　required: trueを追加すると空白登録を回避してくれます %> 
  </div>
  <div>
    <%= f.label :start, "開始日" %>
    <%= f.date_field :start %>
  </div>
  <div> 
    <%= f.label :start, "開始時刻" %>
    <%= f.f.time_select :start %>
  </div>
  <div>
    <%= f.label :end, "終了日" %>
    <%= f.date_field :end %>
  </div>
  <div> 
    <%= f.label :end, "終了時間" %>
    <%= f.f.time_select :end %>
  </div>
  <div>
    <%= f.label :body, "本文"%>
    <%= f.text_area :body %>
  </div>
    <%= f.submit "登録" %>
  </div>      
</div>