<div>
  <h1>あなたの感情がネガティブに動いた瞬間を教えてください</h1>
</div>
<!--文言を入れる-->
<div>
  <%= form_with model: motivation,url: motivations_path, method: :post do |f| %>
    <%= f.hidden_field :emotion_stetas, :value => "1"  %>
    <div><%= f.text_area :appetite %></div>
    <div>
      <p>それはどんな思い出がありますか</p>
    </div>
    <div><%= f.text_area :memory %></div>
    <div><%= f.submit '保存する' %></div>
  <% end %>
</div>