<h1>あなたの目標を教えて下さい</h1>
<div>
  <%= form_with model: schedule do |f| %>
    <p>タイトル</p>
    <div><%= f.text_field :title %></div>
    <p>いつまでに達成する</p>
    <div><%= f.datetime_field :end_time %></div>
    <p>目標</p>
    <div><%= f.text_area :body %></div>
    <div><%= f.submit '次に進む' %></div>
  <% end %>
</div>