<h1>目標を達成するためにすることを教えて下さい</h1>

  <!--一括レコード保存方法で作成する-->
<div>
  <%= form_with model: form, url: missions_path, method: :post do |form| %>
    <%= form.fields_for :plans do |f| %>
      <div>
        <span>
          <%= f.check_box :availability %>
        </span>
        <span>
          <%= f.text_field :task %>
        </span>
      </div>
    <% end %>
    <div>
      <%= form.submit '次に進む' %>
    </div>
  <% end %>
</div>