<ol>
<li>
  <%= session[:keyword_1] %>
</li>
<li>
  <%= session[:keyword_2] %>
</li>
<li>
  <%= session[:keyword_3] %>
</li>
<li>
  <%= session[:keyword_4] %>
</li>
<li>
  <%= session[:keyword_5] %>
</li>
<li>
  <%= session[:keyword_6] %>
</li>
<li>
  <%= session[:keyword_7] %>
</li>
<li>
  <%= session[:keyword_8] %>
</li>
<li>
  <%= session[:keyword_9] %>
</li>
<li>
  <%= session[:keyword_10] %>
</li>
</ol>

<h1>あなたの理想の人間関係を教えて下さい</h1>
<p>
  先輩、後輩、上司、家族、友人、親友、夫婦<br>
  ひとつ人間関係といっても<br>
  いくつも存在しています
</p>
<p>
  ですが、ここでの人間関係は</br>
  どういう関係性を持ってかかわりを持つ<br>
  ということです
</p>
<p>
  自身を高めてくれる人<br>
  家族のように、なんでも話せる人
</p>
<p>
  そういう人間関係を教えて下さい
</p>
<div>
  <%= form_with model: @ideal,url: partner_new_ideal_path, method: :get do |f| %>
    <div><%= f.text_area :relationship_1 %></div>
    <div><%= f.text_area :relationship_2 %></div>
    <div><%= f.text_area :relationship_3 %></div>
    <div><%= f.submit '次に進む' %></div>
  <% end %>
</div>