<div>
  <div>
    <h4>理想を示すキーワード</h4>
  </div>
  <div>
    <ol>
      <li>
        <%= @ideal.keyword_1 %>
      </li>
      <li>
        <%= @ideal.keyword_2 %>
      </li>
      <li>
        <%= @ideal.keyword_3 %>
      </li>
      <li>
        <%= @ideal.keyword_4 %>
      </li>
      <li>
        <%= @ideal.keyword_5 %>
      </li>
      <li>
        <%= @ideal.keyword_6 %>
      </li>
      <li>
        <%= @ideal.keyword_7 %>
      </li>
      <li>
        <%= @ideal.keyword_8 %>
      </li>
      <li>
        <%= @ideal.keyword_9 %>
      </li>
      <li>
        <%= @ideal.keyword_10 %>
      </li>
    </ol>
  </div>
</div>
<div>
  <div>
    <h3>理想の性格</h3>
  </div>
  <div>
    <%= @ideal.personality_1] %>
  </div>
  <div>
    <%= @ideal.personality_2 %>
  </div>
  <div>
    <%= @ideal.personality_3 %>
  </div>
</div>
<div>
  <div>
    <h3>理想の姿</h3>
  </div>
  <div>
    <%= @ideal.hair_make %>
  </div>
  <div>
    <%= @ideal.body_make %>
  </div>
  <div>
    <%= @ideal.fashion_make %>
  </div>
</div>
<div>
  <div>
    <h3>理想のライフスタイル</h3>
  </div>
  <div>
    <%= @ideal.lifestyle_1 %>
  </div>
  <div>
    <%= @ideal.lifestyle_2 %>
  </div>
  <div>
    <%= @ideal.lifestyle_3 %>
  </div>
</div>
<div>
  <div>
    <h3>理想の時間</h3>
  </div>
  <div>
    <%= @ideal.time_1 %>
  </div>
  <div>
    <%= @ideal.time_2 %>
  </div>
  <div>
    <%= @ideal.time_3 %>
  </div>
</div>
<div>
  <div>
    <h3>理想の働き方</h3>
  </div>
  <div>
    <%= @ideal.residence_1 %>
  </div>
  <div>
    <%= @ideal.residence_2 %>
  </div>
  <div>
    <%= @ideal.residence_3 %>
  </div>
</div>
<div>
  <div>
    <h3>理想の住まい</h3>
  </div>
  <div>
    <%= @ideal.personality_1 %>
  </div>
  <div>
    <%= @ideal.personality_2 %>
  </div>
  <div>
    <%= @ideal.personality_3 %>
  </div>
</div>
<div>
  <div>
    <h3>理想の人間関係</h3>
  </div>
  <div>
    <%= @ideal.relationship_1 %>
  </div>
  <div>
    <%= @ideal.relationship_2 %>
  </div>
  <div>
    <%= @ideal.relationship_3 %>
  </div>
</div>
<div>
  <div>
    <h3>理想のパートナー</h3>
  </div>
  <div>
    <%= @ideal.partner_1 %>
  </div>
  <div>
    <%= @ideal.partner_2 %>
  </div>
  <div>
    <%= @ideal.partner_3 %>
  </div>
</div>
<div>
  <div>
    <h3>理想のロールモデル</h3>
  </div>
  <div>
    <%= @ideal.partner_model %>
  </div>
  <div>
    <%= @ideal.family_model %>
  </div>
  <div>
    <%= @ideal.friend_model %>
  </div>
</div>