<ol>
<li>
  <%= session[:keyword_1] %>
</li>
<li>
  <%= session[:keyword_2] %>
</li>
<li>
  <%= session[:keyword_3] %>
</li>
<li>
  <%= session[:keyword_4] %>
</li>
<li>
  <%= session[:keyword_5] %>
</li>
<li>
  <%= session[:keyword_6] %>
</li>
<li>
  <%= session[:keyword_7] %>
</li>
<li>
  <%= session[:keyword_8] %>
</li>
<li>
  <%= session[:keyword_9] %>
</li>
<li>
  <%= session[:keyword_10] %>
</li>
</ol>

<h1>あなたの理想の住まいに欠かせないものを教えて下さい</h1>
<p>
  それはどうして欠かせないのか<br>
  どうして必要なのか
</p>
<p>
  理想の住まいと言えど</br>
  住まいでできることはたくさんあります
</p>
<p>
  どうしてなのかという理由を<br>
  より鮮明に思い描くことができるならば
</p>
<p>
  きっと将来それは得ることができます
</p>
<h3>詳しく描いてみて下さい</h3>
<div>
  <%= form_with model: @ideal,url: step8_relationship_ideal_path, method: :get do |f| %>
    <div><%= f.text_area :residence_1 %></div>
    <div><%= f.text_area :residence_2 %></div>
    <div><%= f.text_area :residence_2 %></div>
    <div><%= f.submit '次に進む' %></div>
  <% end %>
</div>