<ol>
<li>
  <%= session[:keyword_1] %>
</li>
<li>
  <%= session[:keyword_2] %>
</li>
<li>
  <%= session[:keyword_3] %>
</li>
<li>
  <%= session[:keyword_4] %>
</li>
<li>
  <%= session[:keyword_5] %>
</li>
<li>
  <%= session[:keyword_6] %>
</li>
<li>
  <%= session[:keyword_7] %>
</li>
<li>
  <%= session[:keyword_8] %>
</li>
<li>
  <%= session[:keyword_9] %>
</li>
<li>
  <%= session[:keyword_10] %>
</li>
</ol>

<h1>あなたの時間やエネルギーをかけたいことを3つ教えて下さい</h1>
<p>
  より具体的の教えていただけると<br>
  時間やエネルギーをかけたいことのイメージが深まります
</p>
<p>
  どのようなことに時間をかけたいですか</br>
  どのようなことにエネルギー<br>
  情熱をかけて取り組みたいですか
</p>
<p>
  ゆったりとした時間でも<br>
  激しく過ごす時間でも<br>
  なんでも構いません
</p>
<div>
  <%= form_with model: @ideal,url: working_new_ideal_path, method: :get do |f| %>
    <div><%= f.text_area :time_1 %></div>
    <div><%= f.text_area :time_2 %></div>
    <div><%= f.text_area :time_3 %></div>
    <div><%= f.submit '次に進む' %></div>
  <% end %>
</div>