<%= form_with model: motivation do |f| %>
  <div>
    <div>
      <p>
        ポジティブモチベーション
      </p>
    </div>
    <div>
      <p>
        モチベーションレベル1
      </p>
    </div>
    <div>
      <%= f.text_field :positive_motivation_1 %>
    </div>
    <div>
      <p>
        モチベーションレベル2
      </p>
    </div>
    <div>
      <%= f.text_field :positive_motivation_2 %>
    </div>
    <div>
      <p>
        モチベーションレベル3
      </p>
    </div>
    <div>
      <%= f.text_field :positive_motivation_3 %>
    </div>
    <div>
      <p>
        モチベーションレベル4
      </p>
    </div>
    <div>
      <%= f.text_field :positive_motivation_4 %>
    </div>
    <div>
      <p>
        モチベーションレベル5
      </p>
    </div>
    <div>
      <%= f.text_field :positive_motivation_5 %>
    </div>
  </div>
  <div>
    <div>
      <p>
        ネガティブモチベーション
      </p>
    </div>
    <div>
      <p>
        嫌なライフスタイル
      </p>
    </div>
    <div>
      <%= f.text_field :negative_motivation_1 %>
    </div>
    <div>
      <p>
        嫌な時間の使い方
      </p>
    </div>
    <div>
      <%= f.text_field :negative_motivation_2 %>
    </div>
    <div>
      <p>
        住みたくない住まい
      </p>
    </div>
    <div>
      <%= f.text_field :negative_motivation_3 %>
    </div>
    <div>
      <p>
        嫌な働き方
      </p>
    </div>
    <div>
      <%= f.text_field :negative_motivation_4 %>
    </div>
    <div>
      <p>
        嫌な人間関係
      </p>
    </div>
    <div>
      <%= f.text_field :negative_motivation_5 %>
    </div>
  </div>
  <div>
    <div>
      <p>
        やりたいことリスト
      </p>
    </div>
    <div>
      <p>
        一番やりたいこと
      </p>
    </div>
    <div>
      <%= f.text_field :to_do_motivation_1 %>
    </div>
    <div>
      <p>
        二番目にやりたいこと
      </p>
    </div>
    <div>
      <%= f.text_field :to_do_motivation_2 %>
    </div>
    <div>
      <p>
        三番目にやりたいこと
      </p>
    </div>
    <div>
      <%= f.text_field :to_do_motivation_3 %>
    </div>
    <div>
      <p>
        四番目にやりたいこと
      </p>
    </div>
    <div>
      <%= f.text_field :to_do_motivation_4 %>
    </div>
    <div>
      <p>
        五番目にやりたいこと
      </p>
    </div>
    <div>
      <%= f.text_field :to_do_motivation_5 %>
    </div>
  </div>
  <div>
    <div>
      <p>
        欲しいものリスト
      </p>
    </div>
    <div>
      <p>
        一番欲しいもの
      </p>
    </div>
    <div>
      <%= f.text_field :want_motivation_1 %>
    </div>
    <div>
      <p>
        二番目に欲しいもの
      </p>
    </div>
    <div>
      <%= f.text_field :want_motivation_2 %>
    </div>
    <div>
      <p>
        三番目に欲しいもの
      </p>
    </div>
    <div>
      <%= f.text_field :want_motivation_3 %>
    </div>
    <div>
      <p>
        四番目に欲しいもの
      </p>
    </div>
    <div>
      <%= f.text_field :want_motivation_4 %>
    </div>
    <div>
      <p>
        五番目に欲しいもの
      </p>
    </div>
    <div>
      <%= f.text_field :want_motivation_5 %>
    </div>
  </div>
  <div>
    <%= f.submit '次に進む' %>
  </div>
<% end %>