<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <% if params[:positive] %>
        <%= render 'motivation_template/positive' %>
        <div class="d-flex justify-content-around my-3">
          <div>
            <%= link_to "新規作成", positive_new_motivations_path %>
          </div>
        </div>
      <% elsif params[:negative] %>
        <%= render 'motivation_template/negative' %>
        <div class="d-flex justify-content-around my-3">
          <div>
            <%= link_to "新規作成", negative_new_motivations_path %>
          </div>
        </div>
      <% elsif params[:to_do] %>
        <%= render 'motivation_template/to_do' %>
        <div class="d-flex justify-content-around my-3">
          <div>
            <%= link_to "新規作成", to_do_new_motivations_path %>
          </div>
        </div>
      <% elsif params[:want] %>
        <%= render 'motivation_template/want' %>
        <div class="d-flex justify-content-around my-3">
          <div>
            <%= link_to "新規作成", want_new_motivations_path %>
          </div>
        </div>
      <% end %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <div class="position-static tab-room">
        <%= @motivations.each do |motivation| %>
          <div>
            <%= link_to motivation_path(motivation.id) do %>
              <%= motivation.appetite %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-around my-3">
        <div>
          <%= link_to "戻る",motivations_path %>
        </div>
      </div>
    </div>

  </div>
</div>