<div class="left-page">
  <% if params[:positive] %>
    <%= render 'positive_text' %>
    <div>
      <%= link_to "新規作成", new_motivation_path(positive: true) %>
    </div>
  <% elsif params[:negative] %>
    <%= render 'negative_text' %>
    <div>
      <%= link_to "新規作成", new_motivation_path(negative: true) %>
    </div>
  <% elsif params[:to_do] %>
    <%= render 'to_do_text' %>
    <div>
      <%= link_to "新規作成", new_motivation_path(to_do: true) %>
    </div>
  <% elsif params[:want] %>
    <%= render 'want_text' %>
    <div>
      <%= link_to "新規作成", new_motivation_path(to_do: true) %>
    </div>
  <% end %>
</div>
<div class="right-page">
  <%= @motivations.each do |motivation| %>
    <div>
      <%= link_to motivation_path do %>
        <%= motivation.appetite %>
      <% end %>
    </div>
  <% end %>
</div>