<div>
  <% if params[:positive] %>
    <%= render %>
    <div>
      <%= link_to "新規作成", new_motivation_path(positive: true) %>
    </div>
  <% elsif params[:negative] %>
    <%= render %>
    <div>
      <%= link_to "新規作成", new_motivation_path(negative: true) %>
    </div>
  <% elsif params[:to_do] %>
    <%= render %>
    <div>
      <%= link_to "新規作成", new_motivation_path(to_do: true) %>
    </div>
  <% elsif params[:want] %>
    <%= render %>
    <div>
      <%= link_to "新規作成", new_motivation_path(to_do: true) %>
    </div>
  <% end %>
</div>
<div>
  <%= @motivations.each do |motivation| %>
    <div>
      <%= link_to motivation_path do %>
        <%= motivation.motivation_title %>
      <% end %>
    </div>
    <div>
      <%= motivation.motivation_body %>
    </div>
  <% end %>
</div>