<div class="container-fluid">
  <div class="row justify-content-center open-book my-4">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <% if params[:positive] %>
        <%= render 'motivation_text/positive' %>
      <% elsif params[:negative] %>
        <%= render 'motivation_text/negative' %>
      <% elsif params[:to_do] %>
        <%= render 'motivation_text/to_do' %>
      <% elsif params[:want] %>
        <%= render 'motivation_text/want' %>
      <% end %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <% if params[:positive] %>
        <%= render 'positive_form', motivation: @motivation %>
      <% elsif params[:negative] %>
        <%= render 'negative_form', motivation: @motivation %>
      <% elsif params[:to_do] %>
        <%= render 'to_do_form', motivation: @motivation %>
      <% elsif params[:want] %>
        <%= render 'want_form', motivation: @motivation %>
      <% end %>
    </div>

  </div>
</div>