<div>
  <% if params[:positive] %>
    <%= render %>
  <% elsif params[:negative] %>
    <%= render %>
  <% elsif params[:to_do] %>
    <%= render %>
  <% elsif params[:want] %>
    <%= render %>
  <% end %>
</div>
<div>
  <% if params[:positive] %>
    <%= render %>
  <% elsif params[:negative] %>
    <%= render %>
  <% elsif params[:to_do] %>
    <%= render %>
  <% elsif params[:want] %>
    <%= render %>
  <% end %>
</div>