<div>
  <% if params[:positive] %>
    <%= render 'positive_text' %>
  <% elsif params[:negative] %>
    <%= render 'negative_text' %>
  <% elsif params[:to_do] %>
    <%= render 'to_do_text' %>
  <% elsif params[:want] %>
    <%= render 'want_text' %>
  <% end %>
</div>
<div>
  <% if params[:positive] %>
    <%= render 'positive_form', motivation: @motivation %>
  <% elsif params[:negative] %>
    <%= render 'negative_form', motivation: @motivation %>
  <% elsif params[:to_do] %>
    <%= render 'to_do_form', motivation: @motivation %>
  <% elsif params[:want] %>
    <%= render 'want_form', motivation: @motivation %>
  <% end %>
</div>