<div>
  <% if @motivation.motivation.stetas(0) %>
    <%= render %>
    <div>
      <%= link_to "新規作成", new_motivation_path(positive: true) %>
    </div>
  <% elsif @motivation.motivation.stetas(1) %>
    <%= render %>
    <div>
      <%= link_to "新規作成", new_motivation_path(negative: true) %>
    </div>
  <% elsif @motivation.motivation.stetas(2) %>
    <%= render %>
    <div>
      <%= link_to "新規作成", new_motivation_path(to_do: true) %>
    </div>
  <% elsif @motivation.motivation.stetas(3) %>
    <%= render %>
    <div>
      <%= link_to "新規作成", new_motivation_path(want: true) %>
    </div>
  <% end %>
</div>
<div>
  <div>
    <%= @motivation.motivation_title %>
  </div>
  <div>
    <%= @motivation.motivation_body %>
  </div>
  <div>
    <%= @motivation.memory %>
  </div>
  <div>
    <%= link_to "この記録を消す", motivation_path, method: :delete %>
  </div>
</div>