<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <%= render 'motivation_template/want' %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <h5 class="smart-frame">
        <u>
          あなたの心が欲しいと思ったものにを教えてください
        </u>
      </h5>
      <p>
        手に入れたいもの<br>
        欲しいものの価値は<br>
        自分以外の誰かが決めたものです
      </p>
      <p>
        あなたが欲しいものの価値が<br>
        例え低くても<br>
        あなたにとっての価値が<br>
        高いのであれば
      </p>
      <p>
        それは大きな価値です
      </p>
      <p class="alert alert-warning"><%= alert %></p>
      <%= form_with model: motivation,url: motivations_path, method: :post do |f| %>
        <%= f.hidden_field :emotion_stetas, :value => "3"  %>
        <%= render 'motivation_template/form' %>
      <% end %>
      <div class="d-flex justify-content-around my-3">
        <div>
          <%= link_to "戻る",motivations_path %>
        </div>
      </div>
    </div>

  </div>
</div>