<div class="container-fluid">
  <div class="book-cover row justify-content-center my-4">
    <div class="col-6 align-self-center my-5">
      <div class="smart-content text-center font-weight-bold">
        <h5>
          本を開く合言葉と鍵を教えてください
        </h5>
      </div>
      <%= form_with model: @user,url: user_session_path do |f| %>
        <div class="cross-frame text-center font-weight-bold">
          <p class="alert"><%= alert %></p>
          <div class="field p-3 form-group">
            <%= f.label :secret_word %><br />
            <%= f.text_field :secret_word, autofocus: true,class: "form-control" %>
          </div>
          <div class="field p-3 form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field p-3 form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions d-flex justify-content-around p-3">
            <div>
              <%= f.submit "登録",class: "btn btn-success" %>
            </div>
            <div>
              <%= link_to "戻る", root_path %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>