<div>
  <div>
    <%= @session.mission_statement %>
  </div>
  <div>
    <%= @session.mission_detail %>
  </div>
</div>

<div>
  <%= link_to '目標をやり直す', new_mission_path %>
</div>
<div>
  <%= form_with model: @mission url: mission_path, method: :post %>
    <%= f.submit '次に進む' %>
  <% end %>
</div>