<!DOCTYPE html>
<html>
  <head>
    <title>GoalPlanner3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path,method: :delete %>
        </li>
        <li>
          <%= link_to "退会",withdrawal_path %>
        </li>
      <% elsif current_user.missions.present? %>
        <li>
          <%= current_user.users.planner_name %>
        </li>
        <li>
          <%= current_user.missions.mission_statement %>
        </li>
        <li>
          <%= link_to "ダッシュボード", dash_board_path %>
        </li>
        <li>
          <%= link_to "カレンダー", root_path %>
        </li>
        <li>
          <%= link_to "本日の予定", root_path %>
        </li>
        <li>
          <%= link_to "やるべきこと", mission_path %>
        </li>
        <li>
          <%= link_to "私の理想", ideal_path %>
        </li>
        <li>
          <%= link_to "スクラップブック", scrap_books_path %>
        </li>
        <li>
          <%= link_to "モチベーション", motivation_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path,method: :delete %>
        </li>
        <li>
          <%= link_to "退会",withdrawal_path %>
        </li>
      <% end %>
    </ul>
  </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
